* {
  box-sizing: border-box;
}

html {
  background-color: rgb(16, 16, 20);
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* //One, and two days  view */
.information {
  display: flex;
  gap: 15px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
}

.weather-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 350px;
  width: 100%;
  font-family: "Roboto";
  justify-content: center;
  border-radius: 60px;
  overflow: hidden;
  transition: all 500ms;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-data {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 250px;

  backdrop-filter: blur(3px) brightness(90%);

  transition: all 500ms;
}

.main-data:hover {
  cursor: pointer;
  backdrop-filter: none;
}

.detailed-data {
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  backdrop-filter: blur(3px);
}

.weather-icon {
  width: 140px;
  margin-top: 30px;
}

.main-text {
  margin-left: 40px;
}

.city-name {
  font-size: 40px;
  letter-spacing: 5px;
  border-bottom: 1px solid white;
}

.weather-type {
  font-size: 20px;
  margin-top: -25px;
  font-weight: 400;
}

.temperature {
  font-size: 50px;
  margin-top: -8px;
}

.feels-like {
  margin-top: -30px;
  font-weight: 400;
}

.time {
  margin-right: 40px;
}

.daily-data {
  font-weight: 400;
}

.attribute {
  font-size: 12px;
}

.sevenday-view {
  max-width: 80%;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 1682px) {
  .sevenday-view {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 1268px) {
  .sevenday-view {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 1018px) {
  .sevenday-view {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 760px) {
  .sevenday-view {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 584px) {
  .sevenday-view {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .container {
    width: 500px;
  }
}
